<div class="jumbotron text-center home-glacier">
    <h1>Glacieren</h1>
    <h3>Making your product come to life</h3>
    <br>
    <br>
    <br>
    <br>
    <h3><b>Talk to us about getting the best freakin' website of your life!</b></h3>
    <a href="#">
        <button type="button" class="btn btn-lg btn-primary">Contact</button>
    </a>
</div>

<div class="container">
    
    
</div>
