// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 

// Navbar

#nav-padding {
    margin-bottom: 0px;
}

// Home
.home-glacier {
    background: url("153_-_Glacier_Perito_Moreno_-_Grotte_glaciaire_-_Janvier_2010.jpg") no-repeat;
    height: 550px;
}

// About

// Contact

.top-row-margin-top {
    margin-top: 30px;
}
